body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Poppins_Medium;
    src: url("./assets/Poppins/Poppins-Medium.ttf");
  }
  @font-face {
    font-family: Poppins_Regular;
    src: url("./assets/Poppins/Poppins-Regular.ttf");
  }
  @font-face {
    font-family: Poppins_Light;
    src: url("./assets/Poppins/Poppins-Light.ttf");
  }
  @font-face {
    font-family: Poppins_SemiBold;
    src: url("./assets/Poppins/Poppins-SemiBold.ttf");
  }
  @font-face {
    font-family: Jarkata_Medium;
    src: url("./assets/Plus_Jakarta_Sans/static/PlusJarkataSans-Medium.ttf");
  }
  @font-face {
    font-family: Jarkata_SemiBold;
    src: url("./assets/Plus_Jakarta_Sans/static/PlusJarkataSans-SemiBold.ttf");
  }
  @font-face {
    font-family: Jarkata_Regular;
    src: url("./assets/Plus_Jakarta_Sans/static/PlusJarkataSans-Regular.ttf");
  }
}
